[alias]
    commettre = !git commit
    pousser = !git push
    tirer = !git pull
    fusionner = !git merge
    etat = !git status
    ajouter = !git add
    instaurer = !git checkout
    rembobiner = !git rebase
    configuration = !git config
    initialiser = !git init
    cloner = !git clone
    branche = !git branch
    planquer = !git stash
    difference = !git diff
    historique = !git log
    blamer = !git blame
    taguer = !git tag
    extraire = !git grep
    aller-chercher = !git fetch
    reinitialiser = !git reset
    montrer = !git show
    basculer = !git switch
    restaurer = !git restore
    picorer = !git cherry-pick
    pour-chaque-branche = !git for-each-ref
